<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwp.cmoneycharge"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.peng.cmoneycharge.Index"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 支出activity -->
        <activity android:name="com.peng.cmoneycharge.Pay" />
        <!-- 收入activity -->
        <activity android:name="com.peng.cmoneycharge.Income" />
        <!-- 便签activity -->
        <activity android:name="com.peng.cmoneycharge.Note" />
        <!-- 数据统计activity -->
        <activity android:name="com.peng.cmoneycharge.Data" />
        <!-- 账户管理activity -->
        <activity android:name="com.peng.cmoneycharge.Account" />
        <!-- 设置activity -->
        <activity android:name="com.peng.cmoneycharge.Setting" />
        <activity android:name="com.peng.cmoneycharge.About" />
        <activity android:name="com.peng.cmoneycharge.AddIncome" />
        <activity android:name="com.peng.cmoneycharge.AddNote" />
        <activity android:name="com.peng.cmoneycharge.AddPay" />
        <activity android:name="com.peng.cmoneycharge.Author" />
        <activity android:name="com.peng.cmoneycharge.ChangePwd" />
        <activity android:name="com.peng.cmoneycharge.Description" />
        <activity android:name="com.peng.cmoneycharge.IncomeData" />
        <activity android:name="com.peng.cmoneycharge.InPtypeManager" />
        <activity android:name="com.peng.cmoneycharge.Login" />
        <activity android:name="com.peng.cmoneycharge.ModifyInp" />
        <activity android:name="com.peng.cmoneycharge.ModifyNote" />
        <activity android:name="com.peng.cmoneycharge.PayData" />
        <activity android:name="com.peng.cmoneycharge.PData" />
        <activity android:name="com.peng.cmoneycharge.Register" />
        <activity
            android:name="com.peng.cmoneycharge.PieChartActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity 
            android:name="com.peng.cmoneycharge.chart.MainChart"
            android:theme="@android:style/Theme.NoTitleBar"/>
    </application>

</manifest>